# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# --------------------
# Sensitive Files & Keys
# --------------------
client_secret.json
firebase.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
macos/Runner/GoogleService-Info.plist
android/key.properties
*.jks
*.keystore
*.p12
*.pem
service-account.json

# App Secrets Code
lib/core/config/app_secrets.dart
lib/firebase_options.dart

# Platform Configs
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/Config.xcconfig
macos/Flutter/Generated.xcconfig
*.env
.env*


google_sign_in.md
notification-service/auth-83d45-firebase-adminsdk-non6r-093b98d067.json